<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">USER SIGN UP!</h2>

        
         <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

        <div class="field">
          <%= f.label :name, "NAME (nickname)" %><br />
          <%= f.text_field :name, id:"user_name" %>
        </div>


        <div class="field">
          <%= f.label :email, "E-MAIL" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "PASSWORD（6 or more characters）" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "PASSWORD(comfirmation)" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
        </div>

        

        <div class="actions">
          <%= f.submit "SIGNUP", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>